<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto">
  <div class="card-body">
    <h2 class="card-title">{{ blog.name }}</h2>
    <p><small>Written by: {{ blog.user.name }} </small></p>
    <p><small>{{{ getDate blog.date_created }}}</small></p>
    <p>{{ blog.content }}</p>
  </div>
  {{!-- create if statement to show update/delete blog IF you are logged in as the user who made this post --}}
</div>

{{#each comments as |comment| }}
<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto"></div>
  <div class="card-body">
    <h2 class="card-title"> {{comment.user.name}} </h2>
    <p><small> {{{ getDate comment.date_created }}}</small></p>
    <p>{{ comment.content }}</p>
  </div>
</div>
{{/each}}

{{#if loggedIn}}

<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto flex justify-center"></div>
  <div class="card-body">
    <h2 class="card-title">Want to join the Conversation?</h2>
    <textarea type="text" placeholder="Comment here" class="textarea textarea-bordered" ></textarea>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Add Comment</button>
    </div>
  </div>
</div>
{{!-- probably include script to handle/listen for add comment button here --}}
{{/if}}
